@import "color.scss";
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

.buscar {
    display: flex;
    justify-content: center;

    input {
        width: 300px;
    }

    .botonbuscar {
        margin-left: 10px;
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $primary-hover;
        }
    }
}

.agregar {
    position: absolute;
    top: 100px;
    right: 10px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    background-color: $primary-color;
    color: white;

    &:hover {
        background-color: $primary-hover;
        transform: translateY(-2px);
    }
}

.card {
    border-radius: 10px;
    box-shadow: $shadow-soft;
    border: 1px solid $carwash-dark-100;
}

.table {
    border-radius: 8px;
    box-shadow: $shadow-soft;
}

.table thead {
    background-color: $carwash-primary-50;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: $carwash-dark-50;
}

.table-hover tbody tr:hover {
    background-color: $carwash-primary-50;
}

body {
    background: white;
    font-family: 'Inter', sans-serif;
    color: $carwash-dark-500;
}
